/* VARIABLES */
$rose: #E91C63;
//$green: #7bd500;
$green: #6BDF49;
$brown: #9f9191;
body, html {
	background-color: #FAFAFA;
	font: 16px "Oswald", Helvetica, sans-serif;
	max-width: 100%;
}
/*Navigation*/
.navbar-inverse {
	background-color: #373737;
	border-color: #373737;
	border-radius: 0;
}
.navbar-inverse .navbar-nav {
	padding-top: 50px;
}
.navbar-inverse .navbar-nav li {
	//dding-top: 30px;
	a {
		color: #fff;
	}
	a:hover, a:active {
		color: $rose;
	}
}
div.ligne {
	border: 2px solid $green;
	background-color: $green;
	position: relative;
	top: -20px;
}

/*slider */
#slider {
	background:url("../images/main.jpg ");
	width: 100%;
	background-size:cover;
	position: relative;
	top: -20px;
}
.carousel-caption {
	top: 200px;
	a {
		position: relative;
		left: 100px;
		top: 50px;
	}
	i {
		color: $green;
		font-size: 50px;
		padding: 0 50px;
	}
	h1 {
		border-radius: 20px;
		background: linear-gradient(135deg,$rose, $green);
	}
}

.firstCarousel {
	padding: 400px 0;
}

.carousel-indicators li {
	background-color: #fff;
	border: 1px solid #fff;
	margin: 10px;
}
.carousel-indicators .active{
	background-color: $green;
	border: 1px solid $green;
	margin: 10px;
}
.btn-success {
	background-color: $green ;
	border-color: $green;
}

/* CONTENT */
.content {
	position: relative;
	top: 20px;
	max-width: 100%;
	div i.fa {
	font-size: 25px;
	}
	img {
		border-radius: 50%
	}
}
#informatique {
	background: linear-gradient(#FAFAFA, rgba($brown,0.3));
	//background-color: rgba($brown,0.2);
	margin:0;
	position: relative;
	top: -20px;
	padding: 15px 5px 20px 5px;
}
#electronique{
	//background-color: #FAFAFA;
	background: linear-gradient($brown, #FAFAFA);
	position: relative;
	top: -20px;
	padding: 15px 5px 20px 5px;
	margin:0;
}
h2.title {
	color: $green;
	height: 40px;
	background: linear-gradient(45deg,$rose, #8BC);
	border-radius:0 80px 0;
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	text-shadow: 5px 3px black;
}



.talk {
	text-align: left;
	padding: 15px 30px;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	line-height: 1.8;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
/*FOOTER */
.footer {
	background-color: #222;
	text-align: center;
	max-width: 100%;
	color: #ddd;
	font-weight: bold;
	letter-spacing: 1.4px;
}
h4.title {
	color: $green;
	padding: 20px 0 1px 0;
}
div.talk {
	text-align: center;
	font-size: 12px;
}
.social-media {
	padding: 10px 0 0 0;
	a {
		padding: 0 35px;
		color: #ddd;
	}
	a:hover {
		color: $rose;
	}
}

p.logo {
	margin-top: 10px;
	font-size: 10px;
}

/* CONTACT PAGE */
.map {
	position: relative;
	top: -20px;
}
.page-body {
	padding: 20px 0 40px 0;
	.col-md-4 {
		padding: 10px 0 10px 0;
	}
	h2 {
		color: $rose;
	}
}

/*MEDIA QUERIES */
@media (max-width: 412px) {
.carousel-caption {
	top: 50px;
	a {
		position: relative;
		top: 20px;
		left: 5px;
	}
	i {
		padding: 50px 20px -10px 20px;
	}
	
	h2.fix {
		font-size: 24px;
	}

}

.firstCarousel {
	padding: 300px 0;
}

.social-media {
	a {
		padding: 0 20px;
		color: $brown;
	}
}

}

@media (min-width: 1200px) {
	h2.title {
		position: relative;
		top: 170px;
	}
}
//To ajust logo to be responsive
@media (max-width: 768px) {
	.navbar-brand img {
		position: relative;
		top: -25px;
	}
	.navbar-inverse .navbar-nav {
	padding-top: 0px;
	}
}
//to ajust social-media icons
@media (max-width: 992px) {
	.row div i {
		padding: 5px 0;
		margin-left: 15px;
	}
}