extends layout
block content
	iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.738308753566!2d11.518673215317104!3d3.8662209494026363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcf81bea8cdd9%3A0x7d8eda0db933a8e0!2sEAGLEVISION!5e0!3m2!1sen!2s!4v1471165119827', width='100%', height='550', frameborder='0', style='border:0', allowfullscreen='')

	include ./footer.jade