.footer
	.container
		.col-lg-12
			.row
				.col-sm-4.wow.fadeInUp(data-wow-duration="5s")
					h4.title Nous contacter
					div.talk
						h5 EAGLEVISION
						p Tel: +237 674 157 020 / 651 279 394
						p 237 Montée Anne-Rouge Yaoundé,
				.col-sm-4.wow.fadeInUp(data-wow-duration="5s")
					h4.title Visitez
					div.talk
						p EAGLEVISION FORMATION
						P EAGLEVISION CONSEILS
						P EAGLEVISION BUSINESS
				.col-sm-4.wow.fadeInUp(data-wow-duration="5s")
					h4.title Produits et services
					div.talk
						p PROMOTIONS
			.row
				.col-xs-12
					.social-media
						a(href="http://www.facebook.com")
							i.fa.fa-facebook.fa-2x
						a(href="http://www.twitter.com")
							i.fa.fa-twitter.fa-2x
						a(href="http://www.instagram.com")
							i.fa.fa-instagram.fa-2x
						a(href="http://www.pinterest.com")
							i.fa.fa-pinterest.fa-2x
			p.logo &copy; 2016 EagleVision
script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82708913-1', 'auto');
      ga('send', 'pageview');
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
script(type="text/javascript", src="/javascripts/index.js")