.footer
	.container
		.col-lg-12
			.row
				.col-sm-4
					h4.title Nous contacter
					div.talk
						h5 EAGLEVISION
						p Tel: +237 674 157 020 / 651 279 394
						p 237 Montée Anne-Rouge Yaoundé,
				.col-sm-4
					h4.title Visitez
					div.talk
						p EAGLEVISION FORMATION
						P EAGLEVISION CONSEILS
						P EAGLEVISION BUSINESS
				.col-sm-4
					h4.title Produits et services
					div.talk
						p PROMOTIONS
			.row
				.col-xs-12
					.social-media
						a(href="http://www.facebook.com")
							i.fa.fa-facebook.fa-2x
						a(href="http://www.twitter.com")
							i.fa.fa-twitter.fa-2x
						a(href="http://www.instagram.com")
							i.fa.fa-instagram.fa-2x
						a(href="http://www.pinterest.com")
							i.fa.fa-pinterest.fa-2x
			p.logo &copy; 2016 EagleVision
script(type="text/javascript", src="/javascripts/jquery-2.1.4.min.js")
script(type="text/javascript", src="/javascripts/wow.min.js")
script(type="text/javascript", src="/javascripts/bootstrap.min.js")
script(type="text/javascript", src="/javascripts/index.js")