doctype html
html
  head
    title= title
    meta(charset="utf-8", content="IE-edge")
    meta(http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description=" content="EAGLEVISION nous vendons, réparons, et maitenons votre matériel électronique et informatiqe. Nous offrons également des formations dans l'électronique et l'informatique")
    <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
