doctype html
html
  head
    title= title
    meta(charset="utf-8", content="IE-edge")
    meta(http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device -width, initial-scale=1")
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
