doctype html
html
  head
    title= title
    meta(charset="utf-8", content="IE-edge")
    meta(http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device -width, initial-scale=1")
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href='/stylesheets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
  body
    block content
