//
   Created by Tchowa Adonis on 29/07/2016.

.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                span EAGLEVISION
    .navbar-collapse.collapse
        ul.nav.navbar-nav
            li
                a(href="#") Home
