/* VARIABLES */
body, html {
  background-color: #FAFAFA;
  font: 16px "Oswald", Helvetica, Arial, sans-serif;
  max-width: 100%; }

/*Navigation*/
.navbar-default {
  background-color: #373737;
  border-color: #373737;
  border-radius: 0; }

.navbar-default .navbar-nav li {
  margin-top: 30px; }
  .navbar-default .navbar-nav li a:hover {
    color: #E91C63; }
  .navbar-default .navbar-nav li a:active {
    color: #E91C63; }

div.ligne {
  border: 2px solid #8BC349;
  background-color: #8BC349;
  position: relative;
  top: -20px; }

/*slider */
#slider {
  background: url("../images/main.jpg ");
  width: 100%;
  background-size: cover;
  position: relative;
  top: -20px; }

.carousel-caption {
  top: 200px; }
  .carousel-caption a {
    position: relative;
    left: 100px;
    top: 50px; }
  .carousel-caption i {
    color: #8BC349;
    font-size: 50px;
    padding: 0 50px; }
  .carousel-caption h1 {
    border-radius: 20px;
    background: linear-gradient(135deg, #E91C63, #8BC349); }

.firstCarousel {
  padding: 400px 0; }

.carousel-indicators li {
  background-color: #fff;
  border: 1px solid #fff;
  margin: 10px; }

.carousel-indicators .active {
  background-color: #8BC349;
  border: 1px solid #8BC349;
  margin: 10px; }

/* CONTENT */
.content {
  position: relative;
  top: 20px;
  max-width: 100%; }
  .content div i.fa {
    font-size: 25px; }
  .content img {
    border-radius: 50%; }

#informatique {
  background: linear-gradient(#FAFAFA, rgba(159, 145, 145, 0.3));
  margin: 0;
  position: relative;
  top: -20px;
  padding: 15px 5px 20px 5px; }

#electronique {
  background: linear-gradient(#9f9191, #FAFAFA);
  position: relative;
  top: -20px;
  padding: 15px 5px 20px 5px;
  margin: 0; }

h2.title {
  color: #8BC349;
  height: 40px;
  background: linear-gradient(45deg, #E91C63, #8BC349);
  border-radius: 0 80px 0;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2x;
  text-shadow: 5; }

.talk {
  text-align: left;
  padding: 15px 30px;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 1.8; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

/*FOOTER */
.footer {
  background-color: #222;
  text-align: center;
  max-width: 100%;
  color: #9f9191;
  font-weight: bold;
  letter-spacing: 1.3px; }

h4.title {
  color: #8BC349;
  padding: 20px 0 1px 0; }

div.talk {
  text-align: center;
  font-size: 12px; }

.social-media {
  padding: 10px 0 0 0; }
  .social-media a {
    padding: 0px 35px;
    color: #9f9191; }
  .social-media a:hover {
    color: #E91C63; }

p.logo {
  margin-top: 10px;
  font-size: 10px; }

/* CONTACT PAGE */
.map {
  position: relative;
  top: -20px; }

.page-body {
  padding: 20px 0 40px 0; }
  .page-body .col-md-4 {
    padding: 10px 0 10px 0; }
  .page-body h2 {
    color: #E91C63; }

/*MEDIA QUERIES */
@media (max-width: 412px) {
  .carousel-caption {
    top: 50px; }
    .carousel-caption a {
      position: relative;
      top: 20px;
      left: 5px; }
    .carousel-caption i {
      color: #8BC349;
      padding: 50px 20px; }
    .carousel-caption h2.fix {
      font-size: 24px; }
  .firstCarousel {
    padding: 300px 0; }
  .social-media a {
    padding: 0px 20px;
    color: #9f9191; } }

@media (min-width: 1200px) {
  h2.title {
    position: relative;
    top: 170px; } }

@media (max-width: 768px) {
  .navbar-brand img {
    position: relative;
    top: -25px; } }

@media (max-width: 992px) {
  .row div i {
    padding: 5px 0;
    margin-left: 15px; } }
